table {
    border-collapse: collapse;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    margin-left: 220px;
}

caption {
    font-size: larger;
    margin: 1em auto;
}

th, td {
    padding: .65em;
}

th, td {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: left;
}

a:hover
{
    background-color:yellow;
}