.container {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}

.button-container {
    display: flex;
    flex-direction: row;
}

.button {
    border: none;
    border-radius: 3px;
    margin: 12px 4px 0 0;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #61BD4F;
    padding: 6px 12px;
}
